body.modal-open {
    padding-right: 15px !important;
}
.modal-open nav.navbar.navbar-toggleable-md.navbar-light.bg-faded.fixed-top {
    padding-right: 31px;
}

.container {
    padding: 30px;
}

#navi {
    background: #1a252f;
}

#navi a:hover {
    background: #fed136;
    color: #1a252f;
}

.staff {
    /*background-image: url("https://images.pexels.com/photos/544917/pexels-photo-544917.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") ;*/
}

#about {
    background-color: #2c3e50;
    color: white
}

section.cta {
    position: relative;
    padding: 100px 0;
    background-image: url("https://images.pexels.com/photos/454699/pexels-photo-454699.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
section.cta .cta-content {
    position: relative;
    z-index: 1; }
section.cta .cta-content h2 {
    font-size: 50px;
    max-width: 450px;
    margin-top: 0;
    margin-bottom: 25px;
    color: white; }
@media (min-width: 768px) {
    section.cta .cta-content h2 {
        font-size: 60px; } }
section.cta .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }


.section {
    position: relative;
    padding: 150px 0; }

section .badges .badge-link {
    display: block;
    margin-bottom: 25px; }
section .badges .badge-link:last-child {
    margin-bottom: 0; }
section .badges .badge-link img {
    height: 60px; }


#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

section.features .section-heading {
    margin-bottom: 100px; }
section.features .section-heading h2 {
    margin-top: 0; }
section.features .section-heading p {
    margin-bottom: 0; }

section.features .device-container,
section.features .feature-item {
    max-width: 325px;
    margin: 0 auto; }

section.features .device-container {
    margin-bottom: 100px; }
@media (min-width: 992px) {
    section.features .device-container {
        margin-bottom: 0; } }

section.features .feature-item {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center; }
section.features .feature-item h3 {
    font-size: 30px; }
section.features .feature-item i {
    font-size: 80px;
    display: block;
    margin-bottom: 15px;
    /*background: -webkit-linear-gradient(to left, #7b4397, #dc2430);*/
    /*background: linear-gradient(to left, #7b4397, #dc2430);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

footer {
    width: 0 auto;
    padding: 20px;
    background-color: #2C3E50;
    color: white;
}



/** Services Cards */

#online {

    background-color: #ffffff!important
}

.text-mute {
    color: #a0a0a0 !important;
}

#slider-cards {
    background-color: #2C3E50;
}

.cards-flex {
    display: flex;
}

.servcard {
    text-align: center;

    }

.servcard img{
    margin: auto;
    width: 100%;
}


.testimonials {
    background-color: #fed136!important;
    padding-top: 2rem;
    padding-bottom: 3rem; }
.testimonials .testimonial-item {
    max-width: 18rem;}
.staff-item {
    margin-bottom: 20px;
}
.testimonials .testimonial-item img {
    max-width: 12rem;
    height: 192px;
    box-shadow: 0px 5px 5px 0px #adb5bd; }
.single-testimonial {
    border-radius: 2px;
}

.single-pricing-table {
    /*box-shadow: 0px 5px 5px 0px #5358be;*/
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

.staff {
    background: #ffffff;
    /*color: #FFFFFF;*/
    border-radius: 2px;
    box-shadow: 0px 5px 5px 0px #1b262f;
}

.fpa {
    font-size: 10px;
}

.copyright {
    background-color: #1a252f; }



.btn-primary {
    background-color: #fed136;
    border-color: #fed136; }
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: white !important; }
.btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important; }


.text-primary {
   color: #fec810 !important;

}


.primary-btn {
    line-height: 40px;
    padding: 0 40px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #00ff8c;
    /*border: 1px solid #fed136;*/
    color: #222222;
    display: inline-block;
    font-weight: 600;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.primary-btn:focus {
    outline: none;
}

.primary-btn.banner-btn {
    color: #fff;
    margin-top: 60px;
}

.primary-btn span {
    margin-left: 15px;
}

.reservation {
    margin-top: 40px;
}

.primary-btn:hover {
    background: #00ff8c;
    /*background: #fed136;*/
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
}

a {
    color:#fed136;; }
a:focus, a:hover, a:active {
    color: #ffc107; }


.timeline {
    position: relative;
    padding: 0;
    list-style: none; }
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef; }
.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px; }
.timeline > li:after, .timeline > li:before {
    display: table;
    content: ' '; }
.timeline > li:after {
    clear: both; }
.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left; }
.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0; }
.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0; }
.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #fed136; }
.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px; }
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left; }
.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0; }
.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0; }
.timeline > li:last-child {
    margin-bottom: 0; }
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
.timeline .timeline-heading h4.subheading {
    text-transform: none; }
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
    margin-bottom: 0; }

@media (min-width: 768px) {
    .timeline:before {
        left: 50%; }
    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px; }
    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right; }
    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px; }
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px; }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left; } }

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px; }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px; }
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px; }
    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px; }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px; } }

@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px; }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px; }
    .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px; } }



#social {
    margin: 20px 10px;
    text-align: center;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
    font-family: "FontAwesome";
    content: "\f099"; /* add twitter icon */

}

.twitterBtn:hover{
    color: #00ABE3;
    background: #fff;
    border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
    font-family: "FontAwesome";
    content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
    color: #e64522;
    background: #fff;
    border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
    font-family: "FontAwesome";
    content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
    color: #0094BC;
    background: #fff;
    border-color: #0094BC;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
    font-family: "FontAwesome";
    content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
    color: #cb2027;
    background: #fff;
    border-color: #cb2027;
}

/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}

.tumblrBtn:before{
    font-family: "FontAwesome";
    content: "\f173"; /* add tumblr icon */
}

.tumblrBtn:hover{
    color: #3a5876;
    background: #fff;
    border-color: #3a5876;
}

/* rss button class*/
.rssBtn{
    background: #e88845;
}

.rssBtn:before{
    font-family: "FontAwesome";
    content: "\f09e"; /* add rss icon */
}

.rssBtn:hover{
    color: #e88845;
    background: #fff;
    border-color: #e88845;
}












.single-pricing-table {
    margin-top: 30px;
}

.single-pricing-table .top {
    background-image: -moz-linear-gradient(0deg, #3c408f 0%, #5b61cf 100%);
    background-image: -webkit-linear-gradient(0deg, #3c408f 0%, #5b61cf 100%);
    background-image: -ms-linear-gradient(0deg, #3c408f 0%, #5b61cf 100%);
    /*background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);*/
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));*/
    /*background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);*/
    /*background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);*/
    /*background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);*/
}

.single-pricing-table .top .head {
    padding: 35px 20px;
}

.single-pricing-table .top .head span {
    font-size: 48px;
    color: #00ff8c;
}

.single-pricing-table .top .head h5 {
    margin-top: 20px;
}

.single-pricing-table .top .package {
    padding: 30px 20px;
    background: rgba(0, 0, 0, 0.1);
}

.single-pricing-table .top .package .price {
    color: #00ff8c;
    font-size: 36px;
    margin-bottom: 10px;
    line-height: 1em;
}

.single-pricing-table .bottom {
    background: #f9f9ff;
    padding: 0px 20px 40px 20px;
}

.single-pricing-table .bottom ul {
    margin-bottom: 50px;
}

.single-pricing-table .bottom ul li {
    margin-top: 15px;
}

.active-testimonial-carousel .single-testimonial {
    padding: 40px 20px;
    background: #fff;
    text-align: center;
}

.active-testimonial-carousel .single-testimonial img {
    display: inline-block !important;
    width: auto !important;
    margin-bottom: 30px;
}

.active-testimonial-carousel .single-testimonial .author h6 a {
    color: #222222;
}

.active-testimonial-carousel .single-testimonial .author h6 a:hover {
    color: #00ff8c;
}

.active-testimonial-carousel .owl-dots {
    padding-top: 70px;
    margin-left: -5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.active-testimonial-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #eeeeee;
    display: inline-block;
    margin-left: 10px;
}

.active-testimonial-carousel .owl-dots .owl-dot.active {
    background: #777777;
}


.services .owl-item {
    padding: 15px 0;
}





.single-testimonial .top {
    border-radius: 2px;
}





.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}

.footer-follow li {
    font-size: 25px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
    padding: 12px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    background-color: #fed136;
    color:#2c3e50;

}

.footer-follow li a:hover {
    background-color: #1b262f;
    color:#fed136;
}

